{
  "presets": [
    [
      "env",
      {
        "es2015": { "modules": false },
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["recharts"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "babel-plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    },
    "production": {
      "plugins": ["transform-react-constant-elements", "transform-react-remove-prop-types"]
    }
  }
}
